/* color palette from <https://github.com/vuejs/theme> */
:root {
  --black: #121212;
  --black-soft: #222222;
  --rose-980: oklch(10% 0.105 12.094);
  --rose-950: oklch(27.1% 0.105 12.094);
  --dark-purple: #150050;
  --purple: #3f0071;
  --pink: #fb2576;
  --white-soft: #f8f8f8;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--black);
  --color-background-soft: var(--black);
  --color-background-mute: var(--black);

  --color-border: var(--purple);
  --color-border-hover: var(--purple);

  --color-heading: var(--white-soft);
  --color-text: var(--white-soft);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* base typography styles */
body,
button,
dialog {
  color: var(--color-text);
  /* transition:
    color 0.1s,
    background-color 0.1s; */
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  /* font-size: 15px; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background: var(--color-background);
}

body,
button {
  font-size: 15px;
}

dialog {
  background: var(--color-background);
  width: 80%;
  margin: auto;
  font-size: 20px;
  p {
    margin-bottom: 20px; /* between paragraphs */
  }
}
